<form action="/home" method="post">
    <input type="text" placeholder="Book Name" 
            name="bookName">
    <input type="text" placeholder="Book Author" 
            name="bookAuthor">
    <input type="text" placeholder="Book Pages" 
            name="bookPages">
    <input type="text" placeholder="Book Price" 
            name="bookPrice">
    <button type="submit">Add</button>
</form>